<div class="surface-finish-container">
  <div class="surface-finish-content">
    <!-- Bloque teoría -->
    <div class="surface-finish-theory">
      <h2>Indicación y designación de estados superficiales</h2>
      <p>
        Indicación y designación de estados superficiales.  
        Para indicar algunas características específicas del acabado superficial, como la dirección de las estrías, se usan símbolos definidos también por la norma como se puede apreciar en la tabla adjunta.
      </p>
    </div>

    <!-- Bloque símbolos -->
    <div class="surface-finish-symbols" id="imagen2">
      <div class="symbols-grid">
        <img src="../assets/images/graf3.png" alt="Símbolo básico para la calidad superficial" class="img2">
      </div>
    </div>
  </div>
</div>
